<a href="#" class="blog-title-link w-inline-block">
  <h1 class="blog-title">Earth2</h1>
</a>
<div class="post-info-wrapper">
  <div class="post-info">Software engineering project</div>
  <div class="post-info">|</div>
  <a href="#" class="post-info when-link">
    March 2020 - present
  </a>
  <p class="post-summary">
    Crowdsource, brainstorm, and develop engineering ideas with other
    engineers and researchers to help address the COVID-19 pandemic and
    future challenge in United States and world-wide.
    <br />
  </p>
  <p class="post-summary">
    Provide engineering solutions to impacted research labs under this
    pandemic, in accordances to initiatives provided by NAE, NIH,
    BARDA's stockpile authority, etc.
    <br />
  </p>
  <p class="post-summary">
    For more information, please go to the official UCSD{" "}
    <a href="https://earth2-covid.ucsd.edu">website</a>.<br />
  </p>
</div>
</div>
<div class="section project-list">
  <a href="#" class="blog-title-link w-inline-block">
    <h1 class="blog-title">CORE platform</h1>
  </a>
  <div class="post-info-wrapper">
    <div class="post-info">Research project</div>
    <div class="post-info">|</div>
    <a href="#" class="post-info when-link">
      March 2020 - present
    </a>
    <p class="post-summary">
      Student researcher at UCSD ReCODE Health. The Connected and Open
      Research Ethics (CORE) Platform lies under ReCODE Health where
      researchers can share your expertise or ask questions about Mobile
      Imaging, Pervasive Sensing, Social Media and Location Tracking
      (MISST) use in research.
      <br />
    </p>
    <p class="post-summary">
      Indepedently migrated the backend of CORE platform from Ruby on
      Rails (RoR) to NodeJS in 3 days with 30+ commits and 10k+ code.{" "}
      <br />
    </p>
    <p class="post-summary">
      Participate in other statistical-based machine learning research,
      Human-Computer Interaction (HCI)
      <br />
    </p>
  </div>
</div>
<div class="section project-list with--background">
  <a href="#" class="blog-title-link w-inline-block">
    <h1 class="blog-title">
      Education 2.0, a Platform that Provides Custom Solutions for
      Educational Institutions
    </h1>
  </a>
  <div class="post-info-wrapper">
    <div class="post-info">Web dev project</div>
    <div class="post-info">|</div>
    <a href="#" class="post-info when-link">
      July 2019 - present
    </a>
    <p class="post-summary">
      An education platform that aims to enhance the comprehension rate
      and bandwidth rate of students using visualization.
      <br />
    </p>
    <p class="post-summary">
      We have connected with different clients, such as beauty school and
      other e-commerce sites owners, to provide custom solutions to build
      online learning platforms for their users.
      <br />
    </p>
    <p class="post-summary">
      Meanwhile, we are developing templates that are specifically for
      education use only. This quarter (Winter 2019), we are carrying out
      pilot studies in the Economics and Biology departments of UCSD to
      test out the MVP.
      <br />
    </p>
  </div>
</div>
<div class="section project-list">
  <a href="#" class="blog-title-link w-inline-block">
    <h1 class="blog-title">Hair Loss Research</h1>
  </a>
  <div class="post-info-wrapper">
    <div class="post-info">a research team of six people</div>
    <div class="post-info">|</div>
    <a href="#" class="post-info when-link">
      July 2019 - present
    </a>
    <p class="post-summary">
      Developing an iOS App for the on-going hair loss research, with the
      help of HealthKit and ResearchKit.
      <br />
    </p>
    <p class="post-summary">
      Researching on a machine learning solution for the model built on
      complex networks that has a plethora of variables.
      <br />
    </p>
  </div>
</div>
<div class="section project-list with--background">
  <a href="#" class="blog-title-link w-inline-block">
    <h1 class="blog-title">Bebin, a Research Management Platform, </h1>
  </a>
  <div class="post-info-wrapper">
    <div class="post-info">Web dev project</div>
    <div class="post-info">|</div>
    <a href="#" class="post-info when-link">
      December 2019 - present
    </a>
    <p class="post-summary">
      A research management platform that is integrated with multiple
      resources, such as Publish or Perish and Hypothesis, aiming to boost
      the efficiency within a research team.
      <br />
    </p>
    <p class="post-summary">
      Support research papers injection directly from data exported from
      Publish or Perish, and provide convenient interface to assign
      papers, view annotations on Hypothesis, and perform peer review.{" "}
      <br />
    </p>
    <p class="post-summary">
      The front end is prototyped using Webflow, and the back end is using
      Node, a hybrid of Express and Apollo, and MongoDB.
      <br />
    </p>
  </div>
</div>
<div class="section project-list">
  <a href="#" class="blog-title-link w-inline-block">
    <h1 class="blog-title">Food Court, a Community-based Delivery App</h1>
  </a>
  <div class="post-info-wrapper">
    <div class="post-info">TritonByte Team</div>
    <div class="post-info">|</div>
    <a href="#" class="post-info when-link">
      May 2019 - Present
    </a>
    <p class="post-summary">
      Food Court is a community-based food delivery app that aims to
      provide well-prepared and affordable food for college students. We
      have connected with local restaurants for the service similar to
      food catering, but have fixed delivery locations, more diversity
      food options, and increased order quantities.
      <br />
    </p>
    <p class="post-summary">
      Besides the mobile app, we are also developing a mobile app for
      drivers and a web platform for restaurants for better management.
      <br />
    </p>
    <p class="post-summary">
      The front ends are implemented using React-Native and React, while
      the backend is using Node, Apollo, and GraphQL.
      <br />
    </p>
  </div>
</div>
<div class="section project-list with--background">
  <a href="#" class="blog-title-link w-inline-block">
    <h1 class="blog-title">PersonalBest, Android App</h1>
  </a>
  <div class="post-info-wrapper">
    <div class="post-info">
      CSE110 Software engineering class course project
    </div>
    <div class="post-info">|</div>
    <a href="#" class="post-info when-link">
      Winter 2018
    </a>
    <p class="post-summary">
      PersonalBest is a fitness app that uses Google Fit and Google + APIs
      to let users set their step goals, record active walks, add and chat
      with friends, and share their fitness statistics.
      <br />
    </p>
    <p class="post-summary">
      Enabled live chat and push notifications as users approach their
      step goals using Firebase Cloud Messaging.
      <br />
    </p>
  </div>
</div>
<div class="section project-list">
  <a href="#" class="blog-title-link w-inline-block">
    <h1 class="blog-title">MyTritonLink, iOS App</h1>
  </a>
  <div class="post-info-wrapper">
    <div class="post-info">TritonByte Team</div>
    <div class="post-info">|</div>
    <a href="#" class="post-info when-link">
      Winter 2018
    </a>
    <p class="post-summary">
      MyTritonLink lets UCSD students easily access their schedules and
      course enrollment information on mobile devices.
      <br />
    </p>
    <p class="post-summary">
      {" "}
      Achieved 1000+ student downloads. It is currently being integrated
      into UCSD&#x27;s official app, Campus Mobile.
      <br />
    </p>
  </div>
</div>
<div class="section project-list with--background">
  <a href="#" class="blog-title-link w-inline-block">
    <h1 class="blog-title">
      International Students Short Leasing Platform
    </h1>
  </a>
  <div class="post-info-wrapper">
    <div class="post-info">Chinese Students and Scholars association</div>
    <div class="post-info">|</div>
    <a href="#" class="post-info when-link">
      October 2017 - October 2018
    </a>
    <p class="post-summary">
      Developed a short leasing platform for international students during
      quarter breaks.
      <br />
    </p>
    <p class="post-summary">
      Implemented the MVP using React, NodeJS, and MongoDB.
      <br />
    </p>
  </div>
</div>
